%h2 All Snippets

%table#snippets
    %thead
        %tr
            %th Snippet Title
            %th Content
            %th Tag
    %tbody
        - @snippets.each do |snippet|
            %tr
                %td= snippet.title
                %td= snippet.content
                %td= snippet.tag
                %td= snippet.created_at
                %td= link_to "More about #{snippet.title}", snippet_path(snippet)
