%h1 Listing snippets

%table
  %tr
    %th Title
    %th Content
    %th Tag
    %th
    %th
    %th

  - @snippets.each do |snippet|
    %tr
      %td= snippet.title
      %td= snippet.content
      %td= snippet.tag
      %td= link_to 'Show', snippet
      %td= link_to 'Edit', edit_snippet_path(snippet)
      %td= link_to 'Destroy', snippet, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Snippet', new_snippet_path
