-if notice
  %p.alert.alert-info= notice

%h3
  = @snippet.title
%p
  %pre{:data => {:language => @snippet.tag}}
    = @snippet.content
%p
  %span.label.label-white
    = @snippet.tag

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
