%p#notice= notice

%p
  = @snippet.title
%p
  %pre{:data => {:language => @snippet.tag}}
    = @snippet.content
%p
  = @snippet.tag

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
