!!! 5
%html
    %head
        %title Snippy
        = stylesheet_link_tag 'application'
        = javascript_include_tag 'application'
        = csrf_meta_tags
    %body
        .navbar{:data => {:dropdown => "dropdown"}}
            .navbar-inner
                .container
                    %h2.brand Snippy
                    %ul.nav
                        %li.active
                            = link_to 'List', snippets_path
                    %form.navbar-search.pull-left
                        %input.search-query.span2
        .container
            = yield

    %br
    %footer.footer
        %p Snippy is free Software @javaguirre
